*{
	margin:0;
	padding: 0;
}

.click-me{
	margin-bottom: 15px;
}

.click-me a{
	display: inline-block;
	background: #18dcff ;
	text-decoration: none;
	color:white;
	border: 3px solid black;
	padding: 15px 30px;
	border-radius: 30px;
	transition: all linear 0.3s;
	font-size: 20px;
	box-shadow: 5px 5px black;
}

.click-me a:hover{
	background: #4b4b4b;
	color: #fffa65;
	border-color: red;
	background-image:linear-gradient(#474787,#ff793f)
	border-radius : 0px;
	font-size : 30px;
	box-shadow: 10px 10px 10px black;
}


.card-box{
	width: 200px;
	margin:10px;
	background: #f0932b;
	border-radius: 10px;
}


.card-box .card-img img{
	width: 90%;
	margin-left: 10px;
	margin-top:10px;
	border-radius: 10px;
}

.card-title{
	text-align: center;
}

.card-title h4,p{
	font-size: 20px;
	color: #535c68	;
}

.card-container1{
	margin-left: 250px;
	margin-top: -394px;
}

.card-container2{
	margin-left: 500px;
	margin-top: -394px;
}

.card-container3{
	margin-left: 750px;
	margin-top: -394px;
}

.card-container4{
	margin-left: 1000px;
	margin-top: -394px;
}