.outer_ring{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: red;
	position: absolute;
}


.inner_ring{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: white;
	margin-left: 24px;
	margin-top: 24px;
	position: absolute;
}

.text{
	margin-top: 45px;
    font-size: 50px;
    color: red;
    position: absolute;
    margin-left: 10px;
}

.line1{
	width: 150px;
    height: 5px;
    background: red;
    margin-top: 40px;
    margin-left: 4px;
}

.line2{
	width: 150px;
    height: 5px;
    background: red;
    margin-top: 50px;
    margin-left: 4px;
}


.france{
	width: 300px;
	height: 200px;
	border: 1px solid black;
}

.blue_strip{
	width: 100px;
	height: 200px;
	background: blue;
}

.red_strip{
	width: 100px;
	height: 200px;
	margin-left: 200px;	
	background: red;
}
